@{
    ViewData["Title"] = "Changes Password";
}

<div class="row">

    <div class="col-6 offset-3">
        <div class="card">

            <center>
                <div class="card-header bg-secondary text-light">
                    <h4>Cambio de contraseña</h4>
                </div>
            </center>

            <center>

                <div class="card-body">
                    <form asp-controller="Usuarios" asp-action="ForgetPassword">

                        <input type="text" type="submit" name="Usuario" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">

                        <div class="card-footer">

                            <button class="btn btn-outline-primary" submit">Comprobar</button>

                        </div>

                    </form>

                </div>

            </center>


        </div>

    </div>

</div>