@using SocialNetwork.Core.Application.ViewModels.Login;
@model LoginViewModel;

@{
    ViewData["Title"] = "Login";
}

<section class="gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <center>

                        @Html.ValidationSummary(false,"",new{@class = "text-danger"})

                    </center>
                    <form method="post" asp-controller="Usuarios" asp-action="Login">

                        <div class="card-body p-5 text-center">

                            <div class="mb-md-5 mt-md-4 pb-5">

                                <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                                <p class="text-white-50 mb-5">Please enter your login and password!</p>

                                <div class="form-outline form-white mb-4">
                                    <label class="form-label" asp-for="Usuario">User</label>
                                    <input asp-for="Usuario" class="form-control form-control-lg" />
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <label class="form-label" asp-for="Password">Password</label>
                                    <input asp-for="Password" class="form-control form-control-lg" />
                                </div>

                                <button class="btn btn-outline-light btn-lg px-5 mt-3" type="submit">Login</button>

                                <div class="mt-3">

                                    <a asp-controller="Usuarios" asp-action="ForgetPassword" class="text-outline-warning-50">Forgot password?</a>
                                
                                </div>


                            </div>

                            <div>
                                <p>
                                    Don't have an account? <a asp-controller="Usuarios" asp-action="Create" class="text-outline-primary-50 fw-bold">Sign Up</a>
                                </p>
                            </div>


                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</section>
