@using SocialNetwork.Core.Application.ViewModels.Publicaciones;
@model SavePublicacionesViewModel;
@{
    ViewData["Title"] = "Home";
}

@*----------TWITTEAR----------*@

<div class="col-5 text-center">

    <form method="post" enctype="multipart/form-data" asp-controller="Publicaciones" asp-action="Update">

        <div class="card mb-4 col justify-content-center">

            <div class="card-bodyform-group col-12">

                <textarea type="text" name="Informacion" class="form-control" rows="5" cols="2" placeholder="What on your mind"></textarea>
                <label name="Img_Upload" class="form-label"></label>
                <input type="file" name="Img_Upload" class="form-control form-control-lg" />
            </div>


            @*----------Botones----------*@
            <div class="card-footer">

                <button type="submit" class="btn btn-outline-success">Save Changes</button>

            </div>

        </div>

    </form>
</div>
